# File: .pylintrc
[MASTER]
# Python files to analyze
ignore=CVS
persistent=yes

# Use multiple processes to speed up Pylint (use "0" for auto)
jobs=0

[MESSAGES CONTROL]
# Disable specific warnings
disable=
    C0111,  # missing-docstring
    C0103,  # invalid-name
    C0303,  # trailing-whitespace
    W0621,  # redefined-outer-name
    W0703,  # broad-except
    R0903,  # too-few-public-methods
    R0913,  # too-many-arguments
    R0914,  # too-many-locals
    W0511   # fixme

[FORMAT]
# Maximum number of characters on a single line
max-line-length=100

# Expected format of line ending
expected-line-ending-format=LF

[BASIC]
# Good variable names
good-names=i,j,k,ex,Run,_,fd,fp

[MISCELLANEOUS]
# List of note tags to take into consideration
notes=FIXME,TODO,XXX,HACK

[SIMILARITIES]
# Minimum lines number of a similarity
min-similarity-lines=20

# Ignore comments when computing similarities
ignore-comments=yes

# Ignore docstrings when computing similarities
ignore-docstrings=yes

# Ignore imports when computing similarities
ignore-imports=yes